#active{
background-color: #660033;}

#map{
	z-index: 1;
	width: 1500px;
	height: 640px; 
	position: absolute ;
	text-align: center; 
	margin:auto; 
	display: block;
	
}
.pin img{
	z-index: 2; 
	position: absolute;
	width: 20px;
	height: 35px;
}

#WV {
	top: 210px; 
	left: 425px; }
#Temecula {
	top:215px;
	left:250px;}
#UIUC {
	top:210px;
	left:380px;}
#Japan{
	top:210px;
	left:1335px;}
#London{
	top:215px;
	left:750px;}
#Spain{
	top:205px;
	left:730px;}
#Barcelona {
	top: 210px; 
	left: 743px; }
#Italy{
	top:200px;
	left:810px;	}
#Greece{
	top:207px;
	left:840px;}
#Turkey{
	top:200px;
	left:870px;}
#Mexico{
	top:270px;
	left:320px;}
#Orlando {
	top:246px;
	left:410px;}
#PuertoRico {
	top:255px;
	left:425px;}
#RioCuarto{
	top:460px;
	left:485px;	}
#BuenosAires{
	top:469px;
	left:510px;}
#Toronto{
	top:190px;
	left: 420px;}
#RochesterMN{
	top:190px;
	left:360px;}
#NJ {
	top:200px;
	left:440px;
}
#Seattle{
	top:180px;
	left:235px;
}
#SF{
	top:205px;
	left:235px;
}
#Boston{
	top:190px;
	left:450px;
}

	
.Key{
	display: block;
	z-index: 2;
	position: absolute;
	top:610px;
	left: 1200px; 
	color: black;
	background-color: rgba(128, 128, 128, 0.6); 
	border: 5px solid black; 
	border-radius: 10px; 
	width: 200px;
	height: 70px; 
	padding: 0; 
	margin: 0; 
}
.Key img{
	float: left; 
	padding: 5px;
	width: 20px;
	height: 35px;
}
.Key h2{
	padding: 0px;
	margin: 0px; 
	text-align: center;
}
.Key p{
	padding: 0px;
	margin:0px;	
}
.HoverBox {
	z-index: 2;  
	position: absolute;  
	top:400px;
	left: 50px;
	width: 160px;
	height: 100px;
	color:white;
	background-color: rgba(128, 128, 128, 0.4); 
	border: 5px solid white;
	border-radius: 10px; 
	display: none;
}
.HoverBox h2{
	margin: 0px;
	padding-left: 10px; 
}
.HoverBox li{
	margin:0px;
	padding: 0px; 
}
 
